<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1> hi</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="file"  name="taxfiles" />
        <button type="submit">upload</button>
    </form> -->
    <form action="/submit-files" method="POST" enctype="multipart/form-data">
        <div>
          <label for="aadharCard">Aadhar Card:</label>
          <input type="file" name="aadharCard" accept=".pdf,.png" required>
        </div>
        <div>
          <label for="panCard">PAN Card:</label>
          <input type="file" name="panCard" accept=".pdf,.png" required>
        </div>
        <div>
          <label for="formC">Form C:</label>
          <input type="file" name="formC" accept=".pdf,.png" required>
        </div>
        <div>
          <label for="formD">Form D:</label>
          <input type="file" name="formD" accept=".pdf,.png" required>
        </div>
        <button type="submit">Submit</button>
      </form>
</body>
</html>