<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/user" method="post" enctype="multipart/form-data >
        <div>
            <label for="firstname">FisrtName:</label>
        <input type="text" name="firstname" required="firstname">
        </div>
        <div>
            <label for="lastname">LastName:</label>
        <input type="text" name="lastname" >
        </div>
        <div>
            <label for="email">email</label>
        <input type="text" name="email" required="email">
        </div>
        <div>
            <label for="password">password</label>
        <input type="text" name="password" required="password">
        </div>
        <div>
            <label for="role">role</label>
        <input type="text" name="role" required="role">
        </div>
        <div>
            <label for="mobileNo">mobileno</label>
        <input type="text" name="mobileNo" required="mobileNo">
        </div>
        <div>
            <label for="jobtitle">jobtitle</label>
        <input type="text" name="jobtitle" >
        </div>
        <button type="submit">signup</button>
    </form>
    
</body>
</html>